/*  css media player footer */

.media_player {
    background: rgb(40,40,40);
    background: linear-gradient(180deg, rgba(40,40,40,1) 0%, rgba(55,55,55,1) 100%); 
    width: 100vw;
    height: 100px;
    position: fixed;
    bottom: 0%;
    z-index: 999;
}

.title_song {
    flex-basis: 280px;
    align-items: center;
    justify-content: space-between;
}

.copertina {
    padding: 0.5rem 1rem;
}

.copertina img {
    height: 60px;
    border-radius: 8px 8px;
}

.title h4 {
    color: white;
}

.title p {
    color: lightgray;
}

.love {
    color: lightgray;
}

@media all and (max-width: 700px) {
    .title_song {
        flex-basis: 160px;
    }
}

.player {
    flex-basis: 400px;
    padding: 1rem 1rem;
}

.player i {
    color: white;
}

.buttons_play {
    padding: 0.3rem 1rem;
}

.container_2 {
    width: 50%;
    margin: 0 auto;
}

.time_play a {
    color: white;
    text-decoration: none;
    font-size: small;
}

.reproduction {
    height: 4px;
    width: 70%;
    border-radius: 2px 2px;
    background-color:grey;
    border-left: 20px solid lightgrey;
}

.volume {
    flex-basis: 150px;
}

.volume a {
    color: white;
    text-decoration: none;
    font-size: small;
}

.reproduction_2 {
    height: 4px;
    width: 60%;
    border-radius: 2px 2px;
    background-color:grey;
    border-left: 20px solid lightgrey;
}

/*  css sidebar fixed left  */

.sidebar {
    background-color: #040404;
    height: 100vh;
    width: 280px;
    position: fixed;
    left: 0%;
    z-index: 998;
}

@media all  and (max-width:624px) {
    .sidebar {
        width: 90px;
    }

    .container_2 {
        width: 90%;
    }
}

.logo {
    height: 75px;
    width: 280px;
    background-image: url("../img/logo.svg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    background-size: 50%;
}

@media all  and (max-width:624px) {
    .logo {
        width: 90px;
        background-image: url("../img/logo-small.svg");
        background-position: center;
        margin-left: 5px;
        background-size: 50%;
    }
}

/*  upgrade section */

.upgrade {
    background-color: black;
    height: 80px;
    width: 100vw;
    position: fixed;
    top: 0%;
    z-index: 997;
}

.upgrade button {
    border-radius: 30px 30px;
    background-color: black;
    border-color: white;
    color: white;
    padding: 1.5rem 1.5rem;
}

/*  songs section */

.songs {
    background-color:#121212;
    width: calc (100vh - 280px);
    height: 1200px;
}