html {
    font-size: 85%;
}

body {
    font-family: 'Montserrat', sans-serif;
    background-color:#121212;
}

h1, h2, h3, span {
    color: white;
    padding: 1.4rem 0;
}

p {
    color: white;
    padding:  0.8rem 0;
}

/*  css media player footer */

.media_player {
    background: rgb(40,40,40);
    background: linear-gradient(180deg, rgba(40,40,40,1) 0%, rgba(55,55,55,1) 100%); 
    width: 100vw;
    height: 100px;
    position: fixed;
    bottom: 0%;
    z-index: 999;
}

.title_song {
    flex-basis: 280px;
    align-items: center;
    justify-content: space-between;
}

.copertina {
    padding: 0.5rem 1rem;
}

.copertina img {
    height: 60px;
    border-radius: 8px 8px;
}

.title h4 {
    color: white;
}

.title p {
    color: lightgray;
}

.love {
    color: lightgray;
}

@media all and (max-width: 700px) {
    .title_song {
        flex-basis: 160px;
    }
}

.player {
    flex-basis: 400px;
    padding-top: 2rem;
}

.player i {
    color: white;
}

.buttons_play {
    padding: 0.3rem 1rem;
}

.container_2 {
    width: 50%;
    margin: 0 auto;
}

@media all  and (max-width:624px) {
    
    .container_2 {
        width: 90%;
    }
}

.time_play a {
    color: white;
    text-decoration: none;
    font-size: small;
}

.reproduction {
    height: 4px;
    width: 70%;
    border-radius: 2px 2px;
    background-color:grey;
    border-left: 20px solid lightgrey;
}

.volume {
    flex-basis: 150px;
}

.volume a {
    color: white;
    text-decoration: none;
    font-size: small;
}

.reproduction_2 {
    height: 4px;
    width: 60%;
    border-radius: 2px 2px;
    background-color:grey;
    border-left: 20px solid lightgrey;
}

/*  css sidebar fixed left  */

.sidebar {
    background-color: #040404;
    height: 100vh;
    width: 230px;
    position: fixed;
    left: 0%;
    z-index: 998;
    padding-left: 1rem;
    padding-top: 1rem;
}

.sidebar a {
    color: grey;
    text-decoration: none;
}

.sidebar a:hover {
    color: white;
    border-left: 3px solid lime;
}

.sidebar i {
    margin-right: 0.5rem;
}

.padding_left {
    padding-left: 1rem;
}

.logo {
    height: 30px;
    background-image: url("../img/logo.svg");
    background-position: left;
    background-size: contain;
    background-repeat: no-repeat;
}

.home_btn {
    margin-top: 1rem;
}

.home_btn .fas {
    font-size: 20px;
}

ul {
    text-decoration: none;
    list-style: none;
}

li {
    margin-top: 0.7rem;
}

li a {
    padding-left: 1rem;
}

.playlist {
    height: calc(100% - 370px);
    overflow-x: hidden; 
    overflow-y: auto; 
}

.profile {
    position: fixed;
    bottom: 110px;
}

.profile p {
    padding: 0.5rem 0.5rem;
}

/*  upgrade section */

.upgrade {
    background-color: black;
    height: 80px;
    width: 100vw;
    position: fixed;
    top: 0%;
    z-index: 997;
}

.upgrade button {
    border-radius: 30px 30px;
    background-color: black;
    border-color: white;
    color: white;
    padding: 1.5rem 1.5rem;
    margin-top: 0.5rem;
    margin-right: 1rem;
    transition: transform 0.5s ease;
}

.upgrade button:hover {
    transform: scale(110%);
}

/*  songs section */

.songs {
    position: absolute;
    background-color:#121212;
    width: calc(100% - 230px);
    right: 0%;
    top: 80px;
    height: auto;
    overflow-x: hidden; 
    overflow-y: auto; 
}

.wrapper_under_player {
    height: 110px;
}

.nav_songs {
    margin-top: 1rem;
    text-align: center;
}

.nav_songs p {
    color: white;
    display: inline;
}

.nav_songs a {
    color: white;
    padding: 0.5rem 1rem;
    text-decoration: none;
}

.nav_songs a:hover {
    border-bottom: 2px solid lime;
}

.album {
    margin-left: 1.5rem;
    margin-right: 1.5rem; 
}

.recent {
    flex: 0 0 100%;
}

/* CSS CARD */

.card {
    padding: 1rem 1rem;
    text-align: center;
}

.card h3 {
    color: white;
    padding: 0.5rem 0.5rem;
}

.card p {
    padding: 0.2rem 0.5rem;
}

.album_card {
    position: relative;
    max-width: 100%;
}

.img_card {
    opacity: 1;
    display: block;
    height: auto;
    transition: 0.3s ease;
    backface-visibility: hidden;
}

.play_hover {
    transition: .3s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}

.play_hover img {
    max-width: 100%;
}

.album_card:hover .img_card {
    opacity: 0.3;
}

.album_card:hover .play_hover {
    opacity: 1;
}

/* FINE CSS CARD */


/*  MEDIA QUERY  */

@media all and (max-width: 700px) {
    .sidebar {
        width: 70px;
    }

    .sidebar span, ul, h3 {
        display: none;
    }

    .profile {
        display:none;
    }

    .logo {
        background-image: url("../img/logo-small.svg");
        background-position: center;
    }

    .songs {
        width: calc(100% - 70px);
    }
}